body {
  background: -webkit-linear-gradient(to right, #f7ff00 0%, #f7ff00 0%, #db36a4 55%, #f7ff00 100%);
  background: -o-linear-gradient(to right, #f7ff00 0%, #f7ff00 0%, #db36a4 55%, #f7ff00 100%);
  background: linear-gradient(to right, #f7ff00 0%, #f7ff00 0%, #db36a4 55%, #f7ff00 100%);  
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size:50px;
  color:white;
  text-shadow: -1px -1px 0px white, 1px 1px 0px lightgrey;
  text-decoration: underline;
}

a {
  color:black;
  background:white;
  text-decoration: none;
  border-radius:10px;
  padding:7px;
  margin-bottom:20px;
}

.random_button {
  -webkit-appearance: none;
  border:none;
  font-family: 'Josefin Sans', sans-serif;
  font-size:1.5em;
  background:white;
  text-decoration: none;
  border-radius:10px;
  padding:7px;
  width:35%;
  margin-bottom:20px;
}

.alter_button {
  border:none;
  background:white;
  border-radius:10px;

}