  <h1><%= @directors.name %></h1>
  <% @directors.films.each do |x| %>

    <h3><%= x.title %></h3><br>
  <% end %>

  <h2> Gross Box Office Sales </h2>
  <h3>$</h3><%= @directors.films.total_sales %>

  <h2> Average Box Office Sales </h2>
  <%= @directors.films.average('box_office_sales') %>
