<form action="/films/<%= @films.id %>" method="POST>
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" name="title">
  <input type="integer" name="year">
  <input type="submit" value="update">
</form>  