<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" >
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">    <title>Robot World</title>
  </head>
  <body class="page-size">
    <%= yield %>
  </body>
</html>