<h1> add a new movie </h1>

<div>
  <form action="/films" method="POST">
    <input type="text" name="title">
    <input type="integer" name="year">
    <input type="submit" value="create">
  </form>
</div>